<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CCPhone</title>
</head>
<body>
<a type="button" href="/camera/recording">Start Recording</a>
<a type="button" href="/camera/monitoring">Watch Video</a>
<div id="container">
</div>
<!--
<p>SDP to send:<br />
  <textarea id="text_for_send_sdp" rows="5" cols="60" readonly="readonly">SDP to send</textarea>
</p>
<p>SDP received:&nbsp;
  <button type="button" onclick="onSdpText();">Receive remote SDP</button>
  <br />
  <textarea id="text_for_receive_sdp" rows="5" cols="60"></textarea>
</p>
-->
</body>

</html>
